Repository LucsT/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @Crash--, @flohhhh, @ptbrowne, @doubleface, @Crash, @crash--, @jf-cozy

CODEOWNERS:

packages/babel-preset-cozy-app @Crash-- @flohhhh
packages/browserslist-config-cozy @Crash-- @ptbrowne
packages/commitlint-config-cozy
packages/cozy-app-publish @doubleface @Crash--
packages/cozy-ci @Crash
packages/cozy-device-helper @Crash @ptbrowne
packages/cozy-doctypes @flohhhh
packages/cozy-flags @crash-- @ptbrowne 
packages/cozy-harvest-lib @flohhhh @Crash-- @ptbrowne 
packages/cozy-interapp @Crash--
packages/cozy-realtime @Crash @flohhhh @ptbrowne 
packages/cozy-release @doubleface @ptbrowne
packages/eslint-config-cozy-app @crash-- @flohhhh @jf-cozy @ptbrowne 
packages/renovate-config-cozy @doubleface
packages/cozy-logger @doubleface
packages/cozy-doctypes @flohhhh

feat: KonnectoBlock : get konnector from stack or registry
  packages/cozy-harvest-lib/src/components/KonnectorBlock.jsx
  packages/cozy-harvest-lib/src/helpers/konnectorBlock.js
  packages/cozy-harvest-lib/src/helpers/queries.js
Owners: @flohhhh, @Crash--, @ptbrowne

chore(deps): pin dependencies
  package.json
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-logger/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  packages/playgrounds/package.json
  packages/repo-doctor/package.json
  yarn.lock
Owners: @crash--, @ptbrowne, @flohhhh, @Crash--, @doubleface

chore(deps): update dependency eslint to v7.19.0
  packages/eslint-config-cozy-app/package.json
  packages/repo-doctor/package.json
  yarn.lock
Owners: @crash--, @flohhhh, @jf-cozy, @ptbrowne

chore(deps): update dependency jest to v26.6.3
  packages/cli-tree/package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-app-publish/package.json
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  yarn.lock
Owners: @doubleface, @Crash--, @Crash, @ptbrowne, @flohhhh

chore(deps): update dependency mjml to v4.8.1
  packages/cozy-mjml/package.json
  packages/cozy-notifications/package.json
  yarn.lock
Owners: none

fix(deps): update dependency cozy-client to v13.21.0
  packages/cozy-authentication/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-realtime/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @flohhhh, @Crash, @ptbrowne

fix(deps): update dependency eslint-plugin-prettier to v3.3.1
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @crash--, @flohhhh, @jf-cozy, @ptbrowne

fix(deps): update commitlint monorepo to v11
  packages/commitlint-config-cozy/package.json
  yarn.lock
Owners: none
