Repository LucsT/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @edas, @Crash--, @y-lohse, @doubleface, @ptbrowne

feat(cozy-sharing): Notes are special links
  packages/cozy-sharing/src/index.jsx
Owners: none

Update dependency cozy-stack-client to v13.20.2
  packages/cozy-doctypes/package.json
  yarn.lock
Owners: @ptbrowne

Update dependency lerna to v3.22.1
  package.json
  yarn.lock
Owners: none

Update babel monorepo
  package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/cozy-realtime/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @edas, @ptbrowne, @Crash--

Update commitlint monorepo
  packages/commitlint-config-cozy/package.json
  yarn.lock
Owners: @edas

Update dependency cozy-client-js to v0.17.4
  packages/cozy-doctypes/package.json
  yarn.lock
Owners: @ptbrowne

Update dependency enzyme-to-json to v3.6.1
  packages/cozy-procedures/package.json
  packages/cozy-sharing/package.json
  yarn.lock
Owners: none

Update dependency eslint-plugin-react to v7.22.0
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @edas

Update dependency exec-sh to v0.3.4
  packages/cozy-release/package.json
  yarn.lock
Owners: @doubleface

Update dependency redux-starter-kit to ^0.9.0
  packages/cozy-procedures/package.json
  yarn.lock
Owners: none

Update dependency cross-spawn to v7
  packages/cozy-app-publish/package.json
  yarn.lock
Owners: @y-lohse, @doubleface

Update dependency date-fns to v2
  packages/cozy-authentication/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-procedures/package.json
  yarn.lock
Owners: @ptbrowne, @Crash--

feat: KonnectoBlock : get konnector from stack or registry
  packages/cozy-harvest-lib/src/components/KonnectorBlock.jsx
  packages/cozy-harvest-lib/src/helpers/konnectorBlock.js
  packages/cozy-harvest-lib/src/helpers/queries.js
Owners: @Crash--

chore(deps): pin dependencies
  package.json
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-logger/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  packages/playgrounds/package.json
  packages/repo-doctor/package.json
  yarn.lock
Owners: @ptbrowne, @Crash--

chore(deps): update dependency eslint to v7.19.0
  packages/eslint-config-cozy-app/package.json
  packages/repo-doctor/package.json
  yarn.lock
Owners: @edas

chore(deps): update dependency jest to v26.6.3
  packages/cli-tree/package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-app-publish/package.json
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  yarn.lock
Owners: @edas, @y-lohse, @doubleface, @ptbrowne, @Crash--

chore(deps): update dependency mjml to v4.8.1
  packages/cozy-mjml/package.json
  packages/cozy-notifications/package.json
  yarn.lock
Owners: none

fix(deps): update dependency cozy-client to v13.21.0
  packages/cozy-authentication/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-realtime/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @ptbrowne, @edas

fix(deps): update dependency eslint-plugin-prettier to v3.3.1
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @edas

fix(deps): update commitlint monorepo to v11
  packages/commitlint-config-cozy/package.json
  yarn.lock
Owners: @edas

CODEOWNERS:

packages/babel-preset-cozy-app @edas
packages/browserslist-config-cozy @Crash--
packages/commitlint-config-cozy @edas
packages/cozy-app-publish @y-lohse @doubleface
packages/cozy-ci @y-lohse
packages/cozy-device-helper @ptbrowne
packages/cozy-doctypes @ptbrowne
packages/cozy-flags @ptbrowne
packages/cozy-harvest-lib @Crash--
packages/cozy-interapp @Crash--
packages/cozy-realtime @edas
packages/cozy-release @doubleface
packages/eslint-config-cozy-app @edas
packages/renovate-config-cozy @y-lohse @doubleface
