Repository LucsT/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @cpatchane, @cedricmessiant, @Crash--, @kosssi, @enguerran, @gregorylegarec, @y-lohse, @ptbrowne, @doubleface

CODEOWNERS:

packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-realtime @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/renovate-config-cozy @y-lohse @doubleface @kosssi

feat(cozy-sharing): Notes are special links
  packages/cozy-sharing/src/index.jsx
Owners: none

Update dependency cozy-stack-client to v13.20.2
  packages/cozy-doctypes/package.json
  yarn.lock
Owners: @ptbrowne, @kosssi

Update dependency lerna to v3.22.1
  package.json
  yarn.lock
Owners: none

Update babel monorepo
  package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/cozy-realtime/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @kosssi, @enguerran, @cedricmessiant, @ptbrowne, @gregorylegarec, @cpatchane

Update commitlint monorepo
  packages/commitlint-config-cozy/package.json
  yarn.lock
Owners: @kosssi, @enguerran, @cedricmessiant

Update dependency cozy-client-js to v0.17.4
  packages/cozy-doctypes/package.json
  yarn.lock
Owners: @ptbrowne, @kosssi

Update dependency enzyme-to-json to v3.6.1
  packages/cozy-procedures/package.json
  packages/cozy-sharing/package.json
  yarn.lock
Owners: none

Update dependency eslint-plugin-react to v7.22.0
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @cpatchane, @cedricmessiant

Update dependency exec-sh to v0.3.4
  packages/cozy-release/package.json
  yarn.lock
Owners: @gregorylegarec, @cpatchane, @cedricmessiant

Update dependency redux-starter-kit to ^0.9.0
  packages/cozy-procedures/package.json
  yarn.lock
Owners: none

Update dependency cross-spawn to v7
  packages/cozy-app-publish/package.json
  yarn.lock
Owners: @cpatchane, @gregorylegarec, @y-lohse

Update dependency date-fns to v2
  packages/cozy-authentication/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-procedures/package.json
  yarn.lock
Owners: @ptbrowne, @kosssi, @gregorylegarec, @cpatchane

feat: KonnectoBlock : get konnector from stack or registry
  packages/cozy-harvest-lib/src/components/KonnectorBlock.jsx
  packages/cozy-harvest-lib/src/helpers/konnectorBlock.js
  packages/cozy-harvest-lib/src/helpers/queries.js
Owners: @gregorylegarec, @cpatchane

chore(deps): pin dependencies
  package.json
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-logger/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  packages/playgrounds/package.json
  packages/repo-doctor/package.json
  yarn.lock
Owners: @ptbrowne, @cedricmessiant, @gregorylegarec, @cpatchane

chore(deps): update dependency eslint to v7.19.0
  packages/eslint-config-cozy-app/package.json
  packages/repo-doctor/package.json
  yarn.lock
Owners: @cpatchane, @cedricmessiant

chore(deps): update dependency jest to v26.6.3
  packages/cli-tree/package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-app-publish/package.json
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  yarn.lock
Owners: @kosssi, @enguerran, @cedricmessiant, @cpatchane, @gregorylegarec, @y-lohse, @ptbrowne

chore(deps): update dependency mjml to v4.8.1
  packages/cozy-mjml/package.json
  packages/cozy-notifications/package.json
  yarn.lock
Owners: none

fix(deps): update dependency cozy-client to v13.21.0
  packages/cozy-authentication/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-realtime/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @ptbrowne, @kosssi

fix(deps): update dependency eslint-plugin-prettier to v3.3.1
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @cpatchane, @cedricmessiant

fix(deps): update commitlint monorepo to v11
  packages/commitlint-config-cozy/package.json
  yarn.lock
Owners: @kosssi, @enguerran, @cedricmessiant
